.fo{
  background-color: #32302a;
  max-width: 300px;
  max-height: 90px;
  font-family: Arial, sans-serif;
  position: absolute;
  bottom: 0;
  margin-left: 20px;
  padding: 17px 45px;
  border-radius: 15px;
}

.teta{
  border: 1px solid #000;
  width: 500px;
  min-height: 400px;
  margin-left: 360px;
}

.disabled{
  cursor: not-allowed!important;
}

.pointer{
  cursor: pointer;
}

.goToTop{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
}

.fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  background-color: #FFF;
  border-radius: 12px;
}

.modal-backdrop.in {
  opacity: 0.5;
}
